<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevPulse{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono&display=swap">
</head>

<body>
    <nav>
        <a href="{{ url_for('main.dashboard') }}" class="logo">📡 DevPulse</a>
        <div class="nav-links">
            <!-- Checking the session to show the right links -->
            {% if session.get('user_id') %}
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <!-- The Flash System: shows success or errors messages once -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- This is the space where other pages' content will come -->
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>